body, html {
    height: 100%;
    width: 100%;
}

/* .parent{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
}

.child{
    height: 30%;
    width: 30%;
    background-color: aqua;
}

.one{
    position: absolute;
    top: 30px;
    left: 40px;
    background-color: blueviolet;
}

.two{
    margin-bottom: 3px;
    background-color: brown;
    animation: movebox 1s ease-in-out ;
} */

