body,html{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.outterContainer{
    min-height: calc(100% - 2em);
    width: calc(100% - 12em);
    padding: 1em 6em;
}

nav{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.nav_left{
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav_logo{
    height: 2em;
}

.nl_divtext_text{
    display: inline-block;
    height: 1.5em;
    width: 6.5em;
    line-height: 1.5em;
    background-color: #EDDED5;
    text-align: center;
    margin: 0%;
    border-radius: 1em;
}

.nav_right{
    display: flex;
    align-items: center;
    gap: 2.5em;
}

.nav_right_menu{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.nr_divtext_text{
    margin: 0%;
    padding: 0.2em;
    border-radius: 45%;
    background-color:#EDDED5;
}

.nav_right_menu_btn{
    height: fit-content;
    padding: 0.8em;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    border: 1px solid black;
    border-radius: 2em;
    background-color: white;
}

.nav_right_menu_btn:hover{
    background-color: black;
    color: white;
}

.heading{
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.heading_bigtext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6em;
    font-weight: 500;
    margin: 0%;
}

.heading_smalltext{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    margin: 0 0 2em 0;
}

.heading_btn{
    height: 3.8em;
    width: 9em;
    border: none;
    font-size: 1em;
    border-radius: 2em;
    background-color: black;
    color: white;
}

.scroll{
    height: 22vh;
    display: flex;
    overflow: hidden;
}

.scroll_container{
    display: flex;
    gap: 4em;
    padding: 0 2em;
    animation: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.sc_img{
    height: 3.5em;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }    
    100%{
        transform: translateX(-100%);
    }
}

.div_cards{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.cards{
    height: 78% ;
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F4F4F5;
    border-radius: 1em;
    padding: 2em;
    box-shadow: 0.5em 0.5em 0.8em rgb(213, 213, 213);
}

.cards:hover{
    scale: 1.1;
    box-shadow: 0.5em 0.5em 0.8em rgb(162, 162, 162);
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.cards_bigtext{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin: 0%;
}

.cards_smalltext{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(84, 84, 84);
    margin: 0%;
}

.cards_lasttext{
    text-decoration: underline;
    margin: 1em 0 0 0;
    cursor: pointer;
}

.second_page{
    min-height: 100vh;
    margin-top: 7%;  
}

.second_page_header{
    height: 9%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.sph_text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}

.sp_nav{
    height: 18%;
    border: none;
}

.sp_nav_left{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5em;
}

.sp_nav_btn{
    height: 3.2em;
    width: 7em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 2.5em;
    background-color: white;
    color: black;
}

.sp_nav_btn:hover{
    background-color: black;
    color: white;
}

.sp_grid{
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "grid1 grid2"
    "grid3 grid4";
}

.sp_grid_1{
    grid-area: grid1;
    overflow: hidden;
}

.sp_grid_img{
    height: 29em;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.sp_grid_img:hover{
    transform: scale(1.1);
}

.sp_grid1_bottom{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: relative;
    z-index: 1;
}

.sp_grid1_bottom_text{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    font-size: large;
}
.sp_grid1_bottom_btn{
    height: 2.5em;
    width: fit-content;
    text-align: center;
    padding: 0 1em;
    border: 1px solid black;
    border-radius: 2em;
    background-color: white;
}

.sp_grid1_bottom_btn:hover{
    background-color: black;
    color: white;
}


.sp_grid_2{
    grid-area: grid2;
    overflow: hidden;
}



.sp_grid_3{
    grid-area: grid3;
    overflow: hidden;
}

.sp_grid_4{
    grid-area: grid4;
    overflow: hidden;
}

.third_page{
    min-height: 100vh;
    margin-top: 7%;
}

.third_page_header{
    height: 9%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);
    margin-bottom: 5.5em;
}

.tp_grid_div{
    min-height: 195vh ;
    display: grid;
    grid-template-columns: 23.20% 23.20% 23.20% 23.20% ;
    grid-template-rows: 26.35% 26.35% 19% 19.35% ;
    gap: 2em;
    grid-template-areas: 
    "g1 g2 g3 g4"
    "g8 g7 g6 g5"
    "g9 g9 g9 g9"
    "g10 g11 g12 g13"
    ;
}

.tp_grid1{
    background-color: #F1F5F9;
    grid-area: g1;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid1_text_small{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}

.grid1_text_big{
    font-size: 2em;
}

.tp_nav_btn{
    height: 3.2em;
    width: 8em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 2.5em;
    background-color: rgb(0, 0, 0);
    color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.arrow_img{
    height: 1.2em;
    transform: rotate(45deg);
}

.tp_grid2{
    background-color: #F1F6F5;
    grid-area: g2;
    padding: 3em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid2_text_small{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

.grid2_text_big{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    margin: 0%;
}

.tp_grid3{
    background-color: #F8F8F8;
    grid-area: g3;
    padding: 3em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tp_grid4{
    grid-area: g4;
}

.tp_grid5{
    background-color: #FFFAE7;
    grid-area: g5;
    padding: 3em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tp_grid6{
    background-color: #F8EDE3;
    grid-area: g6;
    padding: 3em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tp_grid7{
    background-color: #F8F8F8;
    grid-area: g7;
    padding: 3em 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tp_grid8{
    grid-area: g8;
}

.tp_grid9{
    grid-area: g9;
    padding: 3em 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid9_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5em;
    margin: 0%;
}

.tp_grid10{
    grid-area: g10;
}

.tp_grid11{
    grid-area: g11;
}

.grid11_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}

.tp_grid12{
    grid-area: g12;
}

.tp_grid13{
    grid-area: g13;
}

.fourth_page{
    min-height: 100vh;
    margin-top: 2%;
}

.fp_griddiv{
    min-height: 55vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    gap: 1.5em;
    grid-template-areas: 
    "g1 g2 g3 g4"
    ;
    margin-bottom: 9em;
}

.fp_grid1{
    padding: 3em 2.5em;
    grid-area: g1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fp_grid2{
    grid-area: g2;
    position: relative;    
}

.fp_img{
    height: 89%;
    width: 100%;
    display: block;
    object-fit: cover;
    margin: 0%;
}

.fp_img:hover ~ .insta_img,
.fp_img:hover ~ .face_img,
.fp_img:hover ~ .twit_img{
    animation: iconpopup;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes iconpopup {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-230%);
    }
}

.insta_img{
    height: 1.85em;
    position: absolute;
    z-index: 0;
    bottom: 2%;
    right: 27%;
}

.face_img{
    height: 1.8em;
    position: absolute;
    z-index: 0;
    bottom: 2%;
    right: 15%;

}

.twit_img{
    height: 1.8em;
    position: absolute;
    z-index: 0;
    bottom: 2%;
    right: 3%;
}

.fp_grid2_div{
    background-color: white;
    height: 11%;
    margin: 0%;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;    
}

.fp_grid3{
    grid-area: g3;
    position: relative;
}

.fp_grid4{
    grid-area: g4;
    position: relative;
}

.fpt_outter{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.fpt_inner{
    height: 45vh;
    width: fit-content;
    display: flex;
    justify-content: end;
    gap: 3em;
    border-bottom: 1px solid rgb(206, 206, 206) ;
}

.fpt_inner_img{
    height: 2.8em;
}

.fpt_inner_bigtext{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin: 0.2em 0 2em 0;
}

.fpt_inner_smalltext{
    font-family: 'Times New Roman', Times, serif;
}

.fpt_inner2{
    height: 40vh;
    width: fit-content;
    display: flex;
    justify-content: end;
    gap: 3.1em;
    margin-top: 3.9em;
}

.fp_bottom{
    height: 80vh;
    background-color: #F1F6F5;
    display: flex;
    align-items: center;
}

.fp_bottom_div1{
    height: 100%;
    width: 32.5%;
}

.fpb_text{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 20%;
    left: 40%;
}

.fp_bottom_div2{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fp_bottom_div_bigtext{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5em;
    margin-bottom: 0.5em;
}

.fp_bottom_div_smalltext{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    margin: 0%;
    margin-bottom: 3em;
}

.fifth_page{
    background-color: aqua;
    min-height: 100vh;
}

.vp_grid{
    background-color: pink;
    height: 125vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "g1 g2 g3 g4"
    "g5 g6 g7 g8"
    ;
    gap: 1.8em;
}

.vp_grid1{
    background-color: #EDDED5;
    grid-area: g1;
    overflow: hidden;
}

.vp_gridimg{
    width: 100%;
    height: 75%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
    transition: 0.5s ease;
}

.vp_gridimg:hover{
    transform: scale(1.1);
}

.vp_grid_bottom{
    background-color: white;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.vp_grid_bottom_bigtext{
    margin: 0%;
    margin-top: 0.5em;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.vp_grid_bottom_smalltext{
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

.vp_grid2{
    background-color: #EDDED5;
    grid-area: g2;
    overflow: hidden;
}

.vp_grid3{
    background-color: #EDDED5;
    grid-area: g3;
    overflow: hidden;
}

.vp_grid4{
    background-color: #EDDED5;
    grid-area: g4;
    overflow: hidden;
}

.vp_grid5{
    background-color: #EDDED5;
    grid-area: g5;
    position: relative;
}

.vp_insta_img{
    height: 2em;
    position: absolute;
    top: 20%;
    left: 0%;
}

.vp_face_img{
    height: 2em;
    position: absolute;
    top: 20%;
    left: 13%;
}

.vp_twit_img{
    height: 2em;
    position: absolute;
    top: 20%;
    left: 26%;
}

.vp_grid6{
    background-color: #EDDED5;
    grid-area: g6;
}

.vp_grid7{
    background-color: #EDDED5;
    grid-area: g7;
}

.vp_grid8{
    background-color: #EDDED5;
    grid-area: g8;
}